{% extends 'layout.html.twig' %}

{% block stylesheet %}

{% endblock %}

{% block video %}
<div class="container" id="video">
  <video autoplay class="responsive-video" loop>
    <source src="/assets/video/Vegas.mp4" type="video/mp4">
  </video>
  <div class="card tom-invisible" id="quickB">
    <form action="/booking/transfert" method="POST">
      <div class="index_form_title">
        <p>Réserver dès maintenant.</p>
      </div>
      <div class="index_form_select">
        <label class="index_form_select_labet">
          <span>Chambre</span>
        </label>
        <select name="roomId" id="roomId">
          <option disabled selected value="0">Choisissez votre thème de chambre</option>
          <option value="1">USA</option>
          <option value="2">Japon</option>
          <option value="3">Thailand</option>
          <option value="4">France</option>
          <option value="5">Afrique</option>
        </select>
      </div>
      <div class="index_form_date_picker">
        <div class="index_form_date_picker_left">
          <label class="index_form_select_labet">
            <span>dates de sejour</span>
          </label>
        </div>
        <div class="date_picker" id="tooltiptest">
          <input type="text" class="w-full" id="dp1" name="date" placeholder="SELECTIONNEZ VOS DATES" data-input hidden>
        </div>
      </div>
      <div class="index_form_select">
        <label class="index_form_select_labet">
          <span>nombre de personnes</span>
        </label>
        <select name="nbPerson">
          <option disabled selected value="0"></option>
          <option value="1">1 personne</option>
          <option value="2">2 personnes</option>
          <option value="3">3 personnes</option>
          <option value="4">4 personnes</option>
        </select>
      </div>
      <div class="index_form_submit">
        <button type="submit" value="submit" class="custom_btn">Submit</button>
      </div>
    </form>
    
  </div>
</div>
</div>{% endblock %}{% block description %}
<div class="container">
  <h2 id='notreGite'>Notre Gîte</h2>
  <div class="divider"></div>
  <br>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum id voluptates laboriosam vitae, accusamus fugiat
  cumque distinctio recusandae rem eveniet! Fuga nemo veritatis perspiciatis ipsam facilis quidem ea! Beatae, harum.
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum id voluptates laboriosam vitae, accusamus fugiat
  cumque distinctio recusandae rem eveniet! Fuga nemo veritatis perspiciatis ipsam facilis quidem ea! Beatae, harum.
  <br><br><br>
</div>{% endblock %}{% block parallax %}

<div class="parallax-container">
  <div class="parallax"><img alt="pouet" src="/assets/images/paralax-photo.jpeg"></div>
</div>{% endblock %}{% block content %}
<div class="container" id="main-body">
  <br><br>
  <div class="index-chambres">
    <div class="blocktext-1 ">
      <h3>New York</h3>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum."</p>
    </div>
    <div class="blockImage-1">
      <img src="/assets/images/usa.png">
      <div class="relative">
        <button class="btn_white" onclick="window.location.href='room/show/1'">Acceder à la chambre</button>
      </div>
    </div>

    <div class="blockImage-2">
      <img src="/assets/images/thailand.png">
      <div class="relative">
        <button class="btn_white" onclick="window.location.href='room/show/3'">Acceder à la chambre</button>
      </div>
    </div>

    <div class="blocktext-2">
      <h3>Thaïlande</h3>
      <p>" lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum. "</p>
    </div>
    <div class="blocktext-3">
      <h3>Paris</h3>
      <p>" lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum. "</p>
    </div>
    <div class="blockImage-3">
      <img src="/assets/images/france.png">
      <div class="relative">
        <button class="btn_white" onclick="window.location.href='room/show/4'">Acceder à la chambre</button>
      </div>
    </div>
    <div class="blockImage-4">
      <img src="/assets/images/japan.png">
      <div class="relative">
        <button class="btn_white" onclick="window.location.href='room/show/2'">Acceder à la chambre</button>
      </div>
    </div>
    <div class="blocktext-4">
      <h3>Japon</h3>
      <p>" lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum. "
      </p>
    </div>
    <div class="blocktext-5">
      <h3>Afrique</h3>

      <p>" lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>

    </div>
    <div class="blockImage-5">
      <img src="/assets/images/africa.png">
      <div class="relative">
        <button class="btn_white" onclick="window.location.href='room/show/5'">Acceder à la chambre</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}{% block javascript %}
<script src="/assets/js/indexScrollEffect.js"></script>
<script>


  let event = document.getElementById('roomId');
  event.addEventListener('change', function () {
    let getUrl = window.location;
    let baseUrl = getUrl.protocol + "//" + getUrl.host + "/room/getUnavailableDate/" + this.value;
    getBooking(baseUrl);
  }, false);

  const getBooking = (url) => {
    fetch(url).then(function (response) {
      return response.json();
    }).then(function (json) {
      bookings = json;
      getData();
    }).catch(function (err) {
      console.log('Fetch problem: ' + err.message);
    });
  }

  let getData = () => {
    let unavailableDate = [];
    for (let i = 0; i < Object.keys(bookings).length - 1; i++) {
      unavailableDate.push(bookings[i]);
    }
    flatpickr("#dp1", {
      position: "above",
      altFormat: "j F Y",
      dateFormat: "d.m.Y",
      minDate: "today",
      mode: "range",
      "locale": "fr",
      disable: unavailableDate
    });
  }

  let inputId = document.getElementById("dp1");
  let inputIdParent = document.getElementById("tooltiptest");
  inputIdParent.addEventListener("click", function () {
    if (window.getComputedStyle(inputId).display === "none") {
      M.toast({ html: 'Sélectionnez une chambre pour voir ses disponibilités', classes: 'rounded blue' });
    }
  }, false);

</script>
<script>
  $(document).ready(function () {
    var e = '{{ error }}';
    if (e != '') {
      M.toast({ html: e, classes: 'rounded red' });
    }
  });
</script>{% endblock %}