{% extends 'layout.html.twig' %} 

{% block video %}
    <video autoplay loop class="responsive-video" id="video">
    <source src="/assets/video/Vegas.mp4" type="video/mp4">
    </video>

    <div class="container" id="video">
        <video autoplay class="responsive-video" id="video" loop>
            <source src="/assets/video/Vegas.mp4" type="video/mp4">
        </video>

        <div class="card tom-invisible" id="quickB">
            <div class="card-content">
                <span class="card-title">Réserver dès maintenant</span>
                <form action="">
                    <div class="input-field col s12">
                        <select>
                            <option disabled selected value="">Choisissez votre destination</option>
                            <option value="1">USA</option>
                            <option value="2">Japan</option>
                            <option value="3">Thailand</option>
                            <option value="4">France</option>
                            <option value="5">Africa</option>
                        </select>
                    </div>
                    <label for="datepicker">Choose a date
                    </label>
                    <input class="datepicker" id="datepicker" type="text">
                    <label for="test5">Nombre de personnes</label>
                    <p class="range-field">
                        <input id="test5" max="10" min="0" type="range" />
                    </p>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block desc %}
<div class="container">
    <h2>Notre Gîte</h2>
    <div class="divider"></div>
    <br>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum id voluptates laboriosam vitae, accusamus fugiat cumque distinctio recusandae rem eveniet! Fuga nemo veritatis perspiciatis ipsam facilis quidem ea! Beatae, harum.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum id voluptates laboriosam vitae, accusamus fugiat cumque distinctio recusandae rem eveniet! Fuga nemo veritatis perspiciatis ipsam facilis quidem ea! Beatae, harum.
    <br><br><br>
</div>
{% endblock %}

{% block parallax %}
<div class="parallax-container">
    <div class="parallax"><img alt="pouet" src="/assets/images/paralax-photo.jpeg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Parallax</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
<<<<<<< HEAD
</div>{% endblock %}
=======
</div>
{% endblock %}
>>>>>>> 7a18046a2d213af6ca5984e0af541b86e10f315a
