{% extends 'layout.html.twig' %} 

{% block video %}
    <video autoplay loop class="responsive-video" id="video">
    <source src="/assets/video/Vegas.mp4" type="video/mp4">
    </video>
{% endblock %}

{% block indexForm %}
    <div class="indexForm">
        <div class="row">
            <div class="col-s12">
                <h1>Réservez votre séjour pour une expérience hors du commun.</h1>
                
            </div>
        </div>
    </div>

{% endblock %}
{% block desc %}
    <div class="container">
        <h2>Notre Gîte</h2>
    <div class="divider"></div>
    <br>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum id voluptates laboriosam vitae, accusamus fugiat cumque distinctio recusandae rem eveniet! Fuga nemo veritatis perspiciatis ipsam facilis quidem ea! Beatae, harum.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum id voluptates laboriosam vitae, accusamus fugiat cumque distinctio recusandae rem eveniet! Fuga nemo veritatis perspiciatis ipsam facilis quidem ea! Beatae, harum.
    <br><br><br>    
    </div>

{% endblock %}

{% block parallax %}
    <div class="parallax-container">
        <div class="parallax"><img src="/assets/images/paralax-photo.jpeg" alt="pouet"></div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">Parallax</h2>
            <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
        </div>
    </div>
{% endblock %}


{% block javascript %}

{% endblock %}
