<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>
    {% block title %}{% endblock %}
  </title>
  <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
  <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
  <link href="/assets/css/style.css" rel="stylesheet">
  {% block stylesheet %}{% endblock %}
  <link href="/assets/images/favicon.png" rel="icon">

</head>

<body>
  <nav id="nav" class="bgTranparent">
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul class="logo">
      <li class="side-img" onclick="window.location.href='/'"><img alt="logo" src="/assets/images/favicon.png"></li>
    </ul>
    <ul class="nav-links" id="navUl">
      <li><a class="modal-trigger" href="/AboutUs/show" id="connect">About</a></li>
      {% if connected %}
      <li><a class="modal-trigger" href="/myAcount/show" id="connect">Mon compte</a></li>
      <li><a class="modal-trigger" href="/Home/logout" id="connect">Déconnexion</a></li>
      {% else %}
      <li>
        <a class="modal-trigger" href="#modal1" id="connect">Connexion</a>
      </li>
      {% endif %}
    </ul>
  </nav>

  {% block video %}{% endblock %}


  {% block description %}{% endblock %}

  {% block parallax %}{% endblock %}


    {% block content %}{% endblock %}

    <div id="divBtn">


      <div class="fixed-action-btn">

        <a class="waves-effect waves-light btn-foating btn  bg-dark-blue" id="modalBtn">

          <i class="fas fa-arrow-alt-circle-up"></i>
        </a>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer_container">

      <div class="footer_box1">
        <div class="line_black"></div>
      </div>

      <div class="footer_box2">
        <p>contact</p>
      </div>

      <div class="footer_box3">
        <div class="line_black"></div>
      </div>

      <div class="footer_box4">
        <p>tel: 0123456789</p>
        <p>lesmeilleursdevPHP@gmail.com</p>
      </div>

      <div class="footer_box5">
        <div class="w-33"><i class="color-dark fab fa-twitter"></i></div>
        <div class="w-33"><i class="fab fa-vuejs"></i></div>
        <div class="w-33"><i class="color-dark fab fa-instagram"></i></div>
      </div>


      <div class="footer_box6">
        <p>18 rue Quelque part</p>
        <p>01234, France</p>
      </div>

      <div class="footer_box7">
      </div>

    </div>
  </footer>

  <div class="modal bg-lg-white" id="modal1">
    <div class="modal-content">
      <h4 class="color-dark-blue">Connexion</h4>
      <div class="row">
        <form action="/Home/index" class="col s12" method="POST">
          <div class="row">
            <div class="input-field col s12">

              <input class="validate" id="username" name="username" type="text">
              <label for="username">Nom d'utilisateur</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">

              <input class="validate" id="password" name="password" type="password">
              <label for="password">Mot de passe</label>
            </div>
          </div>

          <div class="right-align">

            <a class="color-dark-blue" href="/Home/SignIn">Inscrivez vous !
            </a>
            <input class="modal-close waves-effect waves-green btn-flat" type="submit" value="Connexion">
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
  <script src="https://unpkg.com/flatpickr@4.5.7/dist/l10n/fr.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/assets/js/nav.js"></script>
  {% block javascript %}{% endblock %}
  <script>
    function scrollFunction() {
      (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) ? $("#modalBtn").css('display', 'block') : $("#modalBtn").css('display', 'none');
    }
    $('#modalBtn').click(function () {
      $('body,html').animate({
        scrollTop: 0
      }, 800);
      return false;
    });
    $(document).ready(function () {
      $('.sidenav').sidenav({ edge: 'right' });
      $('.modal').modal({ opacity: 0 });
      $('.parallax').parallax();
      $('select').formSelect();
      $('.datepicker').datepicker();
      $('#fixed-action-btn').floatingActionButton();
      $('.myDropdown-trigger').dropdown();
      window.onscroll = function () {
        scrollFunction()
      };
    });
  </script>
</body>

</html>