{% extends "layout.html.twig" %}

{% block title %}
mon titre a moi
{% endblock %}

{% block stylesheet %}{% endblock %}


{% block content %}

<div class="container">
    <h1 class="center-align display1">This is some fake content</h1>
</div>

{% endblock %}
{% block javascript %}



{% endblock %}

