.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 600px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}

.aboutus-title{
  margin: 70px;
}

.aboutus-logo{
  margin: 50px;
}

.aboutus-text{
  margin-top: 60px;
}