/* HERVE */

@font-face {
  font-family: "Circular";
  src: url("../font/circular/CircularStd-Book.eot");
  src: url("../font/circular/CircularStd-Book.eot?#iefix")
      format("embedded-opentype"),
    url("../font/circular/CircularStd-Book.woff") format("woff"),
    url("../font/circular/CircularStd-Book.ttf") format("truetype"),
    url("../font/circular/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd")
      format("svg");
  font-weight: 800;
  font-style: normal;
}

html,
body {
  font-family: Circular;
  background: #e5e5e5;
  color: #484848 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.2857142857142858em !important;
}

/******* media *******/
@media only screen and (min-width: 992px) {
  .mobile-device-only {
    display: none;
  }
  .desktop-device-only {
    display: inline !important;
  }
  .cards {
    margin-left: 200px;
  }
}

.desktop-device-only {
  display: none;
}

.sidenav {
  display: block;
  width: 200px;
  background-color: #555;
  color: #fff;
}
.sidenav li > a,
li > a > i {
  color: #fff !important;
}


.card-title {
  font-size: 16px !important;
  font-weight: 800 !important;
  line-height: 1.375em !important;
  color: #484848 !important;
}

.card-content {
  font-weight: normal !important;
  font-size: 13px !important;
  line-height: normal !important;
  letter-spacing: 0.01em;
  color: #707683;
}

.card-calendrier-button {
  margin-bottom: 15px;
}

.c-c1 {
  color: #7cb342 !important;
}

.c-c2 {
  color: #36a2eb !important;
}

.c-c3 {
  color: #ff6384 !important;
}

.c-c4 {
  color: #ffcd56 !important;
}
.c-c5 {
  color: #BF55EC !important;
}

.planning_table {
  height: calc(100vh - 9rem);
}
.planning_table td {
  width: 14.29%;
  vertical-align: 0% !important;
  border: 1px solid rgb(112,118,131,0.2);
}
.planning_weekDay {
  font-weight: bold;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
}
.planning_day{
  color: #00d1b2;
  font-size: 1.1em;
  margin-bottom: 1rem;
}

.planning_other_day > .planning_day {
  opacity: 0.3;
}

.planning_header {
  padding-bottom: 1rem !important;
  display: grid;
  grid-template-columns: 1fr 20vw 1fr;
  grid-template-areas: 
        "icon_left month icon_right ";
  
}
.icon_left {
  grid-area: icon_left;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}
.month, .admin_index_date {
  grid-area: month;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon_right {
  grid-area: icon_right;
  display: flex;
  align-items: center;
  justify-content: start;
}
.sans_margin_bottom {
  margin-bottom:0 !important;
}

.planning_booking{
  width: 100%;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.2rem;
  margin-right: 1rem;
}

.chambre_Tailande {
  background-color: #ffcd56;
}
.chambre_USA {
  background-color: #BF55EC;
}
.chambre_Japon {
  background-color: #ff6384;
}
.chambre_France {
  background-color: #36a2eb;
}
.chambre_Africa {
  background-color: #7cb342;
}

.planning_booking > a {
  text-decoration: none;
  color: #fff;
}

#admin_index_date {
  display: flex;
  align-items: center;
  justify-content: center;
}


#USA, #Japon, #Tailande, #France, #Africa {
  display: none;
}

#USA.is-displayed, #Japon.is-displayed, #Tailande.is-displayed, #France.is-displayed, #Africa.is-displayed {
  display: block;
}

#prevDay, #nextDay {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}