.img-logo {
    height: 100%;
}

.color-light-green{
    color: #80bfb7;
}

.bg-light-green {
    background-color: #80bfb7;
}

.bg-dark-blue {
    background-color: #003b55;
}

.color-dark-blue {
    color: #003b55;
}

.bg-lg-white{
    background-color: #D3EBD5;
}

.text-color{
    color: #FFFFFF;
}

.btn-modal {
    margin: 10px;
}