.green-logo{
    color: #64B99D;
}

.img-logo {
    height: 100%;
    
}

.h-f-color {
    background-color: #64B99D;
}

.btn-color {
    background-color: #2a598b;
}

.c-my-blue {
    color: #2a598b;
}