{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link href="/assets/css/aboutus.css" rel="stylesheet">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
{% endblock %}


{% block content %}

  
    <div class="row">
      <h1>Se rendre au gîte</h1>
    </div>
    <div class="row">
      <div class="col l6 m6 s12">
          <div class="mapouter tom-invisible">
              <div class="gmap_canvas">
                <iframe width="600" 
                  height="500" 
                  id="gmap_canvas" 
                  src="https://maps.google.com/maps?q=Parc%Naturel%Régional%du%Vercors&t=&z=13&ie=UTF8&iwloc=&output=embed" 
                  frameborder="0" 
                  scrolling="no" 
                  marginheight="0" 
                  marginwidth="0">
                </iframe>
              </div>
          </div>
      </div>
      <div class="col l6 m6 s12">
        <h3>Plusieurs moyens pour nous rejoindre : </h3>
          <ul class="collapsible">
              <li>
                <div class="collapsible-header"><i class="material-icons">directions_car</i>En voiture</div>
                <div class="collapsible-body"><span>Il vous suffit d'entrer l'adresse suivante dans votre GPS : <br>255 Chemin des Fusillés, 38250 Lans-en-Vercors</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">train</i>En train</div>
                <div class="collapsible-body"><span>Se rendre à la gare de Grenoble puis vous trouverez des navettes montant à lans en vercors</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">airplanemode_active</i>En avion</div>
                <div class="collapsible-body"><span>Vous pouvez attérir à l'aeroport de Grenoble puis vous trouverez des navettes montant à lans en vercors</span></div>
              </li>
            </ul>
      </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/assets/images/paralax-photo.jpeg">
            </div>
            <div class="card-content">
              <span class="card-title activator color-dark-blue">En savoir plus<i class="material-icons right">more_vert</i></span>
              
            </div>
            <div class="card-reveal">
              <span class="card-title color-dark-blue">Bienvenue à la campagne<i class="material-icons right">close</i></span>
              <p class="cardAboutUs">Au coeur du Parc Naturel Régional du Vercors, 
                dans la nature et les prairies de Vassieux (D178 à 10m),<br/> 
                on vous accueillent dans notre grande maison 
                familiale en pierres (2 gîtes et 3 chambres hôtes).<br/> Gîte confortable, 
                avec vue sur la chaîne du Grand Veymont.
                <br/><br/><span class="color-dark-blue"><u>Au rez-de-chaussée :</u></span> 
                <ul class="cardAboutUs">
                  <li>- hall</li>
                  <li>- local et garage (vélos/motos)</li>
                </ul>
                 <br/><span class="cardAboutUs color-dark-blue"><u>l'étage :</u></span> <br/><br/> 
                 <ul class="cardAboutUs">
                   <li>- coin cuisine, séjour, cellier</li>
                   <li>- 5 chambres, salle d'eau avec wc</li>
                   <li>- Aire de jeux, parking, jardin commun</li>
                 </ul><br/>
                 <span class="cardAboutUs">Chauffage central granulés bois. </span>

            </p>

            </div>
          </div>
    </div>

    <form method="post">
        <h3>Nous contacter</h3>
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="lastname" type="text" class="validate">
                        <label for="lastname">Nom</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="firstname" type="text" class="validate">
                        <label for="firstname">Prénom</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="Message" class="materialize-textarea"></textarea>
                        <label for="Message">Votre message</label>
                    </div>
                </div>
                <input class="btn white color-dark-blue" type="submit" value="Envoyer">
            </div>
        </div>
    </form>

    <form method="post">
        <h3>Laisser votre avis !</h3>
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="username" type="text" class="validate" value="{{ session.username }}">
                        <label for="username">Prénom</label>
                    </div>
                    <div class="input-field col s4">
                        <select name="roomId">
                            <option value="" disabled selected>Votre chambre</option>
                            <option value="5">Afrique</option>
                            <option value="4">France</option>
                            <option value="2">Japon</option>
                            <option value="3">Thaïlande</option>
                            <option value="1">USA</option>
                        </select>
                        <label>Chambre</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s5">
                        <div class="stars">
                            <input class="star star-5" id="star-5" type="radio" name="star"/>
                            <label class="star star-5" for="star-5"></label>
                            <input class="star star-4" id="star-4" type="radio" name="star"/>
                            <label class="star star-4" for="star-4"></label>
                            <input class="star star-3" id="star-3" type="radio" name="star"/>
                            <label class="star star-3" for="star-3"></label>
                            <input class="star star-2" id="star-2" type="radio" name="star"/>
                            <label class="star star-2" for="star-2"></label>
                            <input class="star star-1" id="star-1" type="radio" name="star"/>
                            <label class="star star-1" for="star-1"></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="opinion" name="opinion" class="materialize-textarea"></textarea>
                        <label for="opinion">Votre avis</label>
                    </div>
                </div>
                <input class="btn white color-dark-blue" type="submit" value="Envoyer">
            </div>
        </div>
    </form>

{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>

{% endblock %}